# форма заявки 
TELEGRAM_TOKEN=
CHAT_ID=

# фронт
DOMAIN_URL = ""

#база данных для сайта
SERVER_IP=
POSTGRES_DB=easysochi
POSTGRES_USER=easysochi_
POSTGRES_PASSWORD=
POSTGRES_PORT=
DATABASE_URL=postgresql+asyncpg://easysochi_
DATABASE_URL_SYNC=postgresql+psycopg2://easysochi_

#UKASSA
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_SHOP_ID_TEST=
YOOKASSA_SECRET_KEY_TEST=

#Порты NGINX
SITE_PORT_EXTERNAL=
API_PORT_EXTERNAL=

#Домен
DOMAIN_PRO=easysochi.pro
PRO_STATS=stats.easysochi.pro